<div id="backdrop"></div>

<div id="modal">
    <h3>Ingresa tu usuario:</h3>
    <input type="text" name="user" placeholder="Escribe tu usuario..." [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
    <button type="button" (click)="enter()">Entrar</button>
</div>

<header>
    <h1>{{user}}</h1>
    <i class="bi bi-chat-left-quote"></i>
</header>
<main>
    <div id="show-messages">
        <div class="message" *ngFor="let message of messages">
            <h5>{{message.user}}</h5>
            <p>{{message.message}}</p>
        </div>
    </div>
    <div id="message-area">
        <textarea id="new-message" cols="30" rows="10" placeholder="Escribe tu mensaje..." [(ngModel)]="message" [ngModelOptions]="{standalone:true}"></textarea>
        <div id="send-message">
            <button id="btn-send-message" (click)="sendMessage()"><i class="bi bi-send-fill"></i></button>
        </div>
    </div>
</main>