<!--<div id="modal">
    <h3>Ingresa tu usuario:</h3>
    <input type="text" name="user" placeholder="Escribe tu usuario...">
    <button>Entrar</button>
</div>-->

<header>
    <h1>{{user}}</h1>
    <i class="bi bi-chat-left-quote"></i>
</header>
<main>
    <div id="show-messages">
        <div class="message">
            <h5>User Anonymous 1</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous 2</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous3</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous4</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous5</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous6</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous7</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous8</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous9</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous10</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous11</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous12</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
        <div class="message">
            <h5>User Anonymous13</h5>
            <p>este es un mensaje de prueba para ver como se ve</p>
        </div>
    </div>
    <div id="message-area">
        <textarea id="new-message" cols="30" rows="10" placeholder="Escribe tu mensaje..."></textarea>
        <div id="send-message">
            <button id="btn-send-message"><i class="bi bi-send-fill"></i></button>
        </div>
    </div>
</main>